In [1]:
pwd  #present working directory

'C:\\Users\\Shruti'

In [ ]:
##  pd.read_csv("FILE NAME",sep = @)
##  pd.read_csv("FILE NAME",header='infer')    ------- 1st row will be displayed as heading i.e.in bold letters

In [1]:
import pandas as pd
s1=pd.Series([10,20,30,40,50,60,70])
s1

0    10
1    20
2    30
3    40
4    50
5    60
6    70
dtype: int64

In [2]:
type(s1)

pandas.core.series.Series

In [4]:
import pandas as pd
s1=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [5]:
import pandas as pd
pd.Series({'a':10,'hello':20,'manpreet':30})

a           10
hello       20
manpreet    30
dtype: int64

In [3]:
import pandas as pd
pd.Series({'a':10,'hello':20,'manpreet':30},index=['manpreet','a','hello'])

manpreet    30
a           10
hello       20
dtype: int64

In [2]:
import pandas as pd
pd.DataFrame({"Name":['Bob','Manpreet','Tim Tim'],"Marks":[39,56,78]})

       Name  Marks
0       Bob     39
1  Manpreet     56
2   Tim Tim     78